.individually {
    background-color: white;
    padding: 2.5rem;
    margin: 2.5rem 0 0 0;
}

.individually h1 {
    font-size: 3.25rem;
    color: #2C4C62;
    margin-top: 0;
}

.individually h2 {
    font-size: 2.25rem;
    color: #2C4C62;
    margin-top: 0rem;

}

.individually p {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15rem;
    line-height: 1.6rem; 
}

.individually a {
    font-family: Merriweather, serif;
    font-size: 1.25rem;
    color: #2C4C62;
    text-decoration: none;
    transition: 0.4s;
}

    .individually a:hover {
        color: rgb(0, 141, 0);
        transition: 0.4s;
    }

    .individually .article_individually_top {
        padding: 2rem;
    }

    .individually .article_individually_top img {
        width: 30vw;
        float: left;
        margin: 0 2rem 2rem 0;
        padding: 0 0.7rem 0.7rem 0.7rem;
        background-image: url('../images/subpage_background_image_border.svg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
    }

    .individually .article_individually_center {
        background-image: url('../images/article_individually_center_border.svg');
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        clear: both;
    }

        .individually .article_individually_center_text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
        }

        .individually .article_individually_center_text div {
            flex-basis: 50%;
            padding-right: 1.5rem;
        }

    .individually .article_individually_bottom {
        border-left: 3px solid #2C4C62;
        padding-left: 2rem;
        margin: 2rem 0 2rem 2rem;
    }
    
.individually .more.left {
    text-align: right;
    margin-right: 2rem;
}

.individually .download {
    flex-basis: 100%;
    padding: 0 2rem 0 0;
    margin: 0;
}
    
    .individually .download p {
        text-align: right;
        font-size: 3rem;
        margin: 1rem 0 0 0;
    }
    
    .individually .download a {
        font-family: Merriweather, serif;
        font-size: 1.5rem;
        color: #2C4C62;
        text-decoration: none;
        transition: 0.4s;
    }
        .individually .download a:hover {
            color: rgb(0, 141, 0);
            transition: 0.4s;
        }

@media only screen and (max-width: 767px) {
    .individually {
        padding: 1rem;
        margin: 0.5rem 0 0 0;
    }
    
    .individually h1 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .individually h2 {
        font-size: 1.25rem;
        margin-top: 0;
    
    }
    
    .individually p {
        font-size: 0.9rem;
        line-height: 1.2rem; 
    }

    .individually a {
        font-size: 1rem;
    }
    
        .individually .article_individually_top {
            padding: 1rem;
        }
    
        .individually .article_individually_top img {
            width: 40vw;
            margin: 0 1rem 0rem 0;
            padding: 0 0.4rem 0.4rem 0.4rem;
        }
    
        .individually .article_individually_center {
            padding: 1rem;
        }

            .individually .article_individually_center_text div {
                flex-basis: 100%;
                padding-right: 0.9rem;
            }
    
        .individually .article_individually_bottom {
            padding-left: 1rem;
            margin: 1rem 0 1rem 0.5rem;
        }

        .individually .download {
        padding: 0 1rem 0 0;
    } 
        .individually .download a {
            font-size: 1rem;
        }
    }
