.article_top {
    flex: 2;
    flex-basis: 100%;
    background-color: #E8E8E8;
    margin: 2.5rem 2.5rem 1.25rem 2.5rem;
    padding: 2rem;
}
    .article_top h1{
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        margin: 1rem;
        color: #2C4C62;
        -webkit-text-stroke: 3px #2C4C62;
        -webkit-text-fill-color: transparent;
    }

    .article_top p {
        font-size: 1.15rem;
        line-height: 1.6rem;
    }

    .article_top ul {
        line-height: 1.5rem;
        font-size: 1.15rem;
        list-style-position: inside;
    }

    .article_top a {
        font-family: Merriweather, serif;
        font-size: 1.25rem;
        color: #2C4C62;
        text-decoration: none;
        transition: 0.4s;
    }

        .article_top a:hover {
            color: rgb(0, 141, 0);
            transition: 0.4s;
        }

    .article_top .article_top_container {
        padding: 1rem;
    }

        .article_top .article_top_container img {
            width: 50%;
            float: left;
            margin: 0 2rem 1rem 0;
            max-width: 100%;
            padding: 0.7rem;
            background-image: url('../images/background_image_border.svg'), url('../images/background_image_border.svg');
            background-repeat: no-repeat, no-repeat;
            background-position: top left, bottom right;
            background-size: 50%, 50%;
        }

    .article_top .more {
        text-align: right;
    }

.article_donate {
    flex: 1;
    background-color: #E8E8E8;
    margin: 1.25rem 2.5rem 1.25rem 2.5rem;
    padding: 2rem;
    text-align: center;
}

    .article_donate .recycle i {
        color: #009245;
        font-size: 7rem;
    }

    .article_donate h2 {
        font-family: 'Poppins', sans-serif;
        color: #8CC63F;
        font-size: 3rem;
    }

    .article_donate a {
        font-family: Merriweather, serif;
        font-size: 1.25rem;
        color: #2C4C62;
        text-decoration: none;
        transition: 0.4s;
    }

        .article_donate a:hover {
            color: rgb(0, 141, 0);
            transition: 0.4s;
        }

    .article_donate .fas {
        display: inline;
    }

.article_report {
    flex: 1;
    background-color: #E8E8E8;
    margin: 1.25rem 2.5rem 1.25rem 2.5rem;
    padding: 2rem;
    text-align: center;
}

    .article_report .tree i {
        color: #009245;
        font-size: 9rem;
    }

    .article_report .tree i:first-child {
        color: #8CC63F;
        font-size: 6rem;
    }

    .article_report .tree i:last-child {
        color: #8CC63F;
        font-size: 6rem;
    }

    .article_report a {
        color: #2C4C62;
        text-decoration: none;
        font-family: Merriweather, serif;
        transition: 0.4s;
        font-size: 1.25rem;
    }

        .article_report a:hover {
            color: rgb(0, 141, 0);
            transition: 0.4s;
        }

        .article_report a i {
            color: #009245;
        }
        
    .article_report .hr-dashed {
        margin: 4rem 0.5rem 2rem 0.5rem;
        padding: 0;
        height: 0;
        border: none;
        border-top: 0.3rem dashed #009245;
    }
    
    .article_report .fas {
        display: inline;
    }

@media only screen and (max-width: 767px) {
    .article_top {
        margin: 1rem 1rem 0.5rem 1rem;
        padding: 1rem;
    }

        .article_top h1 {
            font-size: 2rem;
            margin: 0.7rem;
            -webkit-text-stroke: unset;
            -webkit-text-fill-color: unset;
        }

        .article_top p {
            font-size: 0.8rem;
            line-height: 1.2rem;
        }

        .article_top ul {
            line-height: 1.2rem;
            font-size: 0.8rem;
        }

        .article_top a {
            font-size: 0.9rem;
        }

            .article_top .article_top_container img {
                width: 100%;
                padding: 0.4rem;
                margin: 0 1rem 0.7rem 0;
            }

        .article_top .more {
            text-align: right;
        }

    .article_donate {
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

        .article_donate .recycle i {
            font-size: 4rem;
        }

        .article_donate h2 {
           font-size: 1.8rem;
        }

        .article_donate a {
           font-size: 1rem;
        }  

    .article_report {
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

        .article_report .tree i {
           font-size: 6rem;
        }

        .article_report .tree i:first-child {
            font-size: 3rem;
        }

        .article_report .tree i:last-child {
            font-size: 3rem;
        }

        .article_report a {
            font-size: 1rem;
        }
        
        .article_report .hr-dashed {
            margin: 2rem 0.5rem 2rem 0.5rem;
        }
}