.article_diversity {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 2.5rem 0rem 1.25rem 0rem;
}

    .article_diversity_image {
        flex-basis: 50%;
        background-image: url('../images/article_diversity_img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        max-height: 681px;
        min-height: 50vh;
    }

    .article_diversity_text {
        flex-basis: 50%;
        font-size: 1.15rem;
        line-height: 1.6rem;
        padding: 1.5rem 1.5rem 1.5rem 2rem;
    }

        h1.right {
            font-size: 3rem;
            color: #2C4C62;
            margin-left: 2rem;
        }

        .text_right {
            border-left: 2px solid #2C4C62;
            padding-left: 2rem;
            margin: 2.5rem 0 2.5rem 0;
            font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .more.right {
            text-align: left;
            margin-left: 2rem;
        }
    .article_diversity a {
        font-family: Merriweather, serif;
        font-size: 1.25rem;
        color: #2C4C62;
        text-decoration: none;
        transition: 0.4s;
    }
        .article_diversity a:hover {
            color: rgb(0, 141, 0);
            transition: 0.4s;
        }

.article_individually {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 2.5rem 0 1.25rem 0rem;
}

    .article_individually_image {
        flex-basis: 50%;
        background-image: url('../images/article_individually_img.jpg');
        background-size: cover;
        max-height: 660px;
        min-height: 50vh;
    }

    .article_individually_text {
        flex-basis: 50%;
        font-size: 1.15rem;
        line-height: 1.6rem;
        padding: 1.5rem 2rem 1.5rem 1.5rem;
    }

        h1.left {
            font-size: 3rem;
            color: #2C4C62;
            text-align: right;
            margin-right: 2rem;
        }

        .text_left {
            border-right: 2px solid #2C4C62;
            padding-right: 2rem;
            text-align: right;
            margin: 2.5rem 0 2.5rem 0;
            font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .more.left {
            margin-right: 2rem;
        }

    .article_individually a {
        font-family: Merriweather, serif;
        font-size: 1.25rem;
        color: #2C4C62;
        text-decoration: none;
        transition: 0.4s;
    }
        .article_individually a:hover {
            color: rgb(0, 141, 0);
            transition: 0.4s;
        }

.download {
    flex-basis: 100%;
    padding: 0 2rem 0 0;
    margin: 0;
}

    .download p {
        text-align: right;
        margin: 1rem 0 0 0;
    }
    .download a {
        font-family: Merriweather, serif;
        font-size: 1.5rem;
        color: #2C4C62;
        text-decoration: none;
        transition: 0.4s;
    }
        .download a:hover {
            color: rgb(0, 141, 0);
            transition: 0.4s;
        }

@media only screen and (max-width: 767px) {
    .article_diversity_image {
        flex-basis: 100%;
        min-height: 35vh;
    }

    .article_individually_image {
        flex-basis: 100%;
        min-height: 35vh;
    }

    .article_diversity {
        margin: 0.5rem 0rem 0.6rem 0rem;
    }
      
        .article_diversity_text {
            flex-basis: 100%;
            font-size: 0.9rem;
            line-height: 1.2rem;
            padding: 1rem 1rem 1rem 1.5rem;
        }
    
            h1.right {
                font-size: 1.8rem;
                margin-left: 2rem;
            }
    
            .text_right {
                padding-left: 1.25rem;
                margin: 2rem 0 2rem 0;
            }
    
            .more.right {
                margin-left: 1rem;
            }

    .article_diversity a {
        font-size: 1rem;
        }
    
    .article_individually {
        margin: 1.25rem 0rem 0.6rem 0rem;
    }
    
        .article_individually_text {
            flex-basis: 100%;
            font-size: 0.9rem;
            line-height: 1.2rem;
            padding: 1rem 1.5rem 1rem 1rem;
        }
    
            h1.left {
                font-size: 1.8rem;
                margin-right: 2rem;
            }
    
            .text_left {
                padding-right: 1.25rem;
                margin: 2rem 0 2rem 0;
            }
    
            .more.left {
                margin-right: 1rem;
            }
    
    .article_individually a {
        font-size: 1rem;
    }
    
    .download {
        padding: 0 1rem 0 0;
    }
    
        .download a {
            font-size: 1rem;
        }
    
}