.header_top {
    display: flex;
    flex-basis: 75%; 
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}
    .subpage .header_top {
        flex-basis: 80%;
    }

.title_menu {
    flex-basis: 80%; 
}

    .title {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 1.2em;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        align-self: flex-end;
        padding: 0.8em 0 0 35vw;
    }
    .subpage .title {
        color: #2C4C62;
        padding: 0.8em 0 0 40vw;
    }

    .menu ul {
        padding-inline-start: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
        .menu li {
            display: inline-block;
            background-color: #2C4C62;
        }

            .menu li.menu_active a {
                border: 1px solid white;
            }
    
            .menu li a {
                display: inline-block;
                padding: 0.5rem 1.5rem;
                font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 1.25rem;
                color: white;
                text-decoration: none;
                transition: 0.4s;
                border: 1px solid #2C4C62;
            }
    
            .menu li a:hover {
                background-color: #ddd;
                color: #2C4C62;
                border: 1px solid #ddd;
                transition: 0.4s;
            }

.menu_mobile {
    display: none;
}

.menu_mobile input {
    display: none;
}

    .menu_mobile label {
    cursor: pointer;
    color: white;
    background-color: #2C4C62;
    padding: 0.7rem 1rem;
    font-size: 1.7rem;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .menu_mobile label:hover {
        background-color: #ddd;
        color: #2C4C62;
        transition: 0.4s;
        margin-bottom: 0;
    }

    .menu_mobile ul {
        margin-top: 0;
        padding-inline-start: 0;
        padding-top: 0.6rem;
        max-width: max-content;
    }

    .menu_mobile ul li {
        background-color: #2C4C62;
        list-style-type: none;
    }

    .menu_mobile ul li a {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
        transition: 0.4s;
        border: 1px solid #2C4C62;
        width: 100%;
    }

        .menu_mobile ul li a:hover {
        background-color: #ddd;
        color: #2C4C62;
        border: 1px solid #ddd;
        transition: 0.4s;
        }

        .menu_mobile ul li.menu_active a {
            border: 1px solid white;
        }


    .menu_mobile input + ul {
        max-height: 0;
        transition: max-height 0.5s;
        overflow: hidden;
    }

    .menu_mobile input:checked + ul {
        max-height: 10rem;
    }

.header_logo {
    flex-basis: 15%;
    padding: 0 2vw 0 0;
    align-items: flex-start;
}

    .header_logo {
        width: 10vw;
        min-width: 5em;
    }

.motto {
    flex-basis: 25%;
    align-self: flex-end;
    background-image: url('../images/motto.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}
    .motto_diversity {
        background-image: url('../images/motto_diversity.svg');
        flex-basis: 20%;
    }

    .motto_individually {
        background-image: url('../images/motto_individually.svg');
        flex-basis: 20%;
    }

@media only screen and (max-width: 767px) { 
    .title { 
        padding: 0.4em 0 0 15vw;
        font-size: 0.6em;      
    }
    .subpage .title {
        padding: 0.4em 0 0 15vw;
    }
    .menu{
        display: none;
    }
    .menu_mobile {
        display: block;
    }

        .menu_mobile label {
            font-size: 1.5rem;
            padding: 0.5rem 0.7rem;
        }

        .menu_mobile ul {
            padding-top: 0.5rem;
        }

            .menu_mobile ul li a {
                font-size: 0.8em;
                padding: 0.3em 0.5em;
            } 
    }
