@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.header_top {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}

footer {
    display: none;
}

nav {
    display: none;
}

.title {
    font-size: 18pt;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    padding: 3rem 2rem 2rem 2rem;
}

.header_logo {
    width: 20%;
}

.container {
    margin-top: 3rem;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
}

.article_top .article_top_container img {
    width: 40%;
    float: left;
    border: 2px solid black;
    margin: 0 1.5rem 1rem 0;
}

a {
    text-decoration: none;
    color: black;
}

    .container a::after{
        content: " [" attr(href) "] ";
    }

.individually .article_individually_top img {
    width: 40%;
    float: left;
    border: 2px solid black;
    margin: 0 1.5rem 1rem 0;
    
}

.individually .article_individually_center {
    padding: 0.5rem;
    clear: both;
}

.individually .article_individually_bottom {
border-left: 3px solid #2C4C62;
padding-left: 2rem;
margin: 0 0 2rem 2rem;
}

